 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
  <form id="form" action="/charge" method="POST" class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-12">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
          <input id="card-num" class="form-control" type="text" size="16" placeholder="Card number" autofocus="autofocus" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          <input id="card-exp" class="form-control" type="text" size="5" placeholder="MM/YY" />
        </div>
      </div>

      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input id="card-cvc" class="form-control" type="text" size="4" placeholder="CVC" />
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button id="submit" type="button" class="btn btn-primary col-sm-12"
  data-progress-text="<span class='glyphicon glyphicon-refresh fa-spin'></span>"
  data-success-text="<span class='glyphicon glyphicon-ok'></span>"
  >
  Pay
  </button>
</div>

<script src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
Stripe.setPublishableKey('pk_test_SfHPLGrI9nwZrQOGPcFCWkzN');

var $btn = $('#submit');
$btn.on('click', function() {
  $btn.prop('disabled', true);
  $btn.button('progress');

  var cardNum = $('#card-num').val();
  var cardExp = $('#card-exp').val().split('/');
  var cardCVC = $('#card-cvc').val();

  // First submit the card information to Stripe to get back a token
  Stripe.card.createToken({
    number: cardNum,
    exp_month: cardExp[0],
    exp_year: cardExp[1],
    cvc: cardCVC
  }, function(status, response) {
    var $form = $('#form');
    var token = response.id;

    // Save the token into a hidden input field
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));

    // Now submit the form to our server so it can make the charge against the token
    $form.get(0).submit();

    // All done!
    $btn.addClass('btn-success').removeClass('btn-primary');
    $btn.button('success');
    setTimeout(function() {
      $('#checkout').modal('hide');
    }, 250);
  });

  return false;
});
</script>
