<div id="wrapper" ng-controller="AdminCtrl">
	<div ng-include="'components/navbar/navbar.html'"></div>
	<div id="page-content-wrapper">
		<div class="container">
		  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
		  <ul class="list-group" style="margin:5% 20%;">
		    <li class="list-group-item" ng-repeat="user in users">
		        <strong>{{user.name}}</strong><br>
		        <span class="text-muted">{{user.email}}</span>
		        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
		        <a ng-click="makeAdmin(user)"><span class="btn btn-primary pull-right">make admin</span></a>
		        <a ng-click="changePassword(user)"><span class="btn btn-warning pull-right">change password</span></a>
		        
		    </li>
		  </ul>
		</div>
		<hr>
		<div class="container">

			<h2 style="text-align:center;margin-bottom:2rem;">Add Item</h2>
			<form>
				<div class="row" style="margin:0 20%;">
					<div class="form-group col-xs-12">
						<label for="itemTitle">Title</label>
						<input ng-model="title" type="text" class="form-control" id="itemTitle" placeholder="Title">
					</div>
					<div class="form-group col-xs-12" style="text-align:center;">
						<div ng-hide="image" class="placeholder-image" style="height:200px;width:200px;border-radius:5px;background-color:whitesmoke;border:1px solid #ccc;display:block;margin:auto;">
							<p>No Image Yet :(</p>
						</div>
						<div ng-show="image" style="display:block;margin:auto;">
							<img ng-src="{{image}}" style="height:200px;width:200px;border-radius:5px;border:1px solid #ccc;" alt="">
						</div>
						<label for="itemImage">Image</label>
						<div><button id="itemImage" class="btn btn-primary" ng-click="pickFile()">Add Image</button></div>
					</div>
					<div class="form-group col-xs-12">
						<label for="itemDescription">Description</label>
						<input ng-model="description" type="text" class="form-control" id="itemDescription" placeholder="Description">
					</div>
					<div class="form-group col-xs-12">
						<label for="itemMessage">Message</label>
						<textarea ng-model="message" type="text" class="form-control" id="itemMessage" placeholder="Message"></textarea>
					</div>
					<div class="form-group col-xs-12">
						<label for="itemCategories" style="display:block;">Categories</label>
						<div style="display:inline;margin:1rem;" ng-repeat="category in cat">
							<input ng-change="toggleCat(category)" ng-model="hi" type="checkbox"> {{category.name}}
						</div>
					</div>
					<div class="form-group col-xs-12">
						<label for="itemAvailability" style="display:block;">Availability</label>
						<div style="display:inline;margin:1rem;">
							<input ng-model="itemAvailable" ng-value="availabilityTrue" name="availabilityRadioButtons" type="radio"> Available
							<input ng-model="itemAvailable" ng-value="availabilityFalse" name="availabilityRadioButtons" type="radio"> Not Available
						</div>
					</div>
				</div>
				<button class="btn btn-primary" type="button" style="display:block;margin:auto;" ng-click="submitItem()">Submit Item</button>
				<!-- <flash:messages></flash:messages> -->
			</form>
		</div>
		<hr>
		<div class="add-category-group">
			<form action="">
				<label for="">Add New Category</label><br>

				<div class="row">
					<div class="col-xs-12 col-sm-4 col-sm-offset-4">
						<input class="form-control" type="text" ng-model="newCatName" placeholder="New Category Name">
						<input class="form-control" type="text" ng-model="newCatPop" placeholder="New Category Popularity">
					</div>
				</div>
				<button type="button" class="btn btn-primary" ng-click="addCategory()">Add Category</button>
			</form>
		</div>
		<hr>
		<div class="container">
			<ul class="list-group" style="margin:5% 0;">
				<li class="list-group-item" ng-repeat="item in items">

					<div class="row">
						<div class="col-xs-2">
							<a href="#" ng-click="pickFile(item)"><img ng-src="{{item.image}}" alt="" style="height:100px;width:150px;"></a>
							<!-- <span class="text-content"><span>Edit</span></span> -->
						</div>
						<div class="col-xs-2">
							<p editable-text="item.title" onbeforesave="updateItemDetail(item)">{{item.title}}</p>
						</div>
						<div class="col-xs-2">
							<p editable-text="item.description" onbeforesave="updateItemDetail(item)">{{item.description}}</p>
						</div>
						<div class="col-xs-2">
							<p editable-text="item.defaultMessage" onbeforesave="updateItemDetail(item)">{{item.defaultMessage}}</p>
						</div>
						<div class="col-xs-1">
							{{item.available}}
							<select ng-model="availability" ng-change="changeAvailability(item, this)" name="" id="">
								<option value="">Change Availability</option>
								<option ng-value="availabilityTrue">Available</option>
								<option ng-value="availabilityFalse">Not Available</option>
							</select>
						</div>
						<div class="col-xs-2" style="overflow:scroll;">
							<span class="admin-category" ng-repeat="cat in item.categories">
								{{cat.name}} <a ng-click="deleteCat(item, cat._id)" class="remove-category" href="#">&times;</a>
							</span>
							<div>
								<select ng-model="category" ng-change="updateItemDetail(item, this)" name="" id="">
									<option value="">Add new category</option>
									<option value="{{category}}" ng-repeat="category in cat">{{category.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-xs-1">
							<a ng-click="deleteItem(item)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
						</div>
					</div>


				</li>
			</ul>

		</div>
		<hr>
		<div class="container">
			<div ng-controller="AccordionCtrl">
				<h2 style="text-align:center;">Orders</h2>
				<div class="row order-status">
					
						<input ng-model="filterStatus" value="""" name="orderStatusRadio" type="radio"> All
				
					
						<input ng-model="filterStatus" value="Created" name="orderStatusRadio" type="radio"> Created
				
						<input ng-model="filterStatus" value="Processing" name="orderStatusRadio" type="radio"> Processing
				
						<input ng-model="filterStatus" value="Cancelled" name="orderStatusRadio" type="radio"> Cancelled
			
						<input ng-model="filterStatus" value="Completed" name="orderStatusRadio" type="radio"> Completed
				</div>
				<accordion>
					
					<accordion-group ng-repeat="order in orders | filter: {status: filterStatus}">
						<accordion-heading>
							<div class="row">
								<div class="col-xs-3 col-sm-3">
									{{order.user.email}}
								</div>
								<div class="col-xs-3 col-sm-3">
									{{order.status}}
								</div>
								<div class="col-xs-3 col-sm-3">
									{{order.date}}
								</div>
								<div class="col-xs-3 col-sm-3">
									{{order.total | currency : $ : 2 }}
								</div>
							</div>
						</accordion-heading>
						<div class="row">
							<div class="col-xs-3 col-xs-offset-3 col-sm-3 col-sm-offset-3">
								<select ng-model="category" ng-change="changeOrderStatus(order, this)" name="">
									<option value="">Change Order Status</option>
									<option value="{{status}}" ng-repeat="status in possibleStatus">{{status}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<table class="table table-striped">
							    <thead>
							      <tr>
							        <th>Title</th>
							        <th>Qty.</th>
							        <th>Price</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr ng-repeat="lineItem in order.orderItems">
							        <td>{{lineItem.item.title}}</td>
							        <td style="text-align:center;">{{lineItem.quantity}}</td>
							        <td>{{lineItem.value | currency : $ : 2}}</td>
							      </tr>
							      <tr>
							        <td></td>
							        <td style="font-weight:bold;">Subtotal</td>
							        <td style="font-weight:bold;">{{order.total | currency : $ : 2}}</td>
							      </tr>
							    </tbody>
							  </table>
						</div>
					</accordion-group>
				</accordion>
			</div>
		</div>
		<hr>
	</div>
</div>
