  <!-- Sidebar -->
  <div ng-controller="NavbarCtrl">

  <div id="sidebar-wrapper">

    <ul class="sidebar-nav">
      <div class="fixed-nav-padding"></div>
      <li class="navbar-search" ng-controller="StoreCtrl as store">
        <input ng-model="liveSearch" ng-change="changeLiveSearch(this.liveSearch)" type="text" class="form-control" placeholder="Search">
      </li>
      <li class="navbar-select">
        <select class="form-control" name="sort" id="sort">
          <option value="">Sort</option>
          <option value="newest">Newest</option>
          <option value="populat">Most Popular</option>
          <option value="review">Avg. Customer Review</option>
        </select>
      </li>
      <div class="category-group">
        <h4>Categories</h4>
        <li ng-repeat="cat in cats">
          <label><input ng-model="foo" ng-change="addRemoveCat(this.cat.name)" type="checkbox"> {{cat.name}} </label>
        </li>
      </div>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <div class="top-nav" >
    <div class="nav-left">
      <a href="#" id="navbar-toggle"><i class="fa fa-bars"></i></a>
    </div>

    <div class="nav-right">
      <span>
        <span ng-hide="isLoggedIn()">Guest</span>
        <span ng-show="isAdmin()"><a href="/admin">Admin Panel</a></span>
        <div style="display:inline;padding-right:2rem;"><span class="badge cart-badge">{{orderItems.get().length}}</span><a href="#"><i ng-click="toggleShowCartDropdown()" class="glyphicon glyphicon-shopping-cart" style="font-size:1.6em;margin-top:1rem;"></i></a></div>
        <a href="/account">{{getCurrentUser().name}}</a>
        <a href="/login" ng-hide="getCurrentUser().name">Login</a>
        <cart-dropdown ng-show="showCartDropdown"></cart-dropdown>
      </span>
    </div>
    <h2 class="nav-brand"><a href="/">SwiftCard</a></h2>
  </div>
  <div class="fixed-nav-padding">
</div>

  <script>
  $("#navbar-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>
