  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="navbar-search">
        <input type="text" class="form-control" placeholder="Search">
      </li>
      <div class="category-group">
      <h4>Categories</h4>
      <li>
        <label>
          <input type="checkbox"> Sports
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox"> Politics
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox"> Art
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox"> Marriage
        </label>
      </li>
      </div>
      <div class="category-group">
        <h4>Companies</h4>
        <li>
          <label>
            <input type="checkbox"> Amazon
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox"> Best Buy
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox"> Circuit City
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox"> Brooks Brothers
          </label>
        </li>
      </div>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
