.cart-delete, .cart-edit {
  float:right;
  padding: 10px;
}

.cart-badge {
  transform: translate(26px,-22px);
  background-color: green;
}

.nav-right {
  margin-right: 5%;
  a {
    color: #999;
  }
}

.cart-table {
  td {
    vertical-align:middle !important;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }


}


