.cart-delete {
  float:right;
}

.cart-badge {
  transform: translate(26px,-22px);
  background-color: green;
}

.nav-right {
  margin-right: 5%;
  a {
    color: #999;
  }
}

.cart-table {
  td {
    vertical-align:middle !important;
  }
}
