#cart-dropdown {
  margin-top: 15px;
  background-color: whitesmoke;
  height: 150px !important;
  width: 300px;
  overflow: scroll;
  border: 1px solid black;
}

#cart-dropdown-item {
  height: 70px;
  padding: 10px;
  background-color: white;
}